


.mat-drawer-container {
  $toolbar-height: 100px;
  height: calc(100% - #{$toolbar-height});
}

.toolbar{
  display:flex;
  justify-content: space-between;
}

.logos{
 cursor:pointer;
  color:grey;
}