


.mat-drawer-container { 
  $toolbar-height: 100px;
  height: calc(100% - #{$toolbar-height});

}

.toolbar{
  display:flex; 
  justify-content: space-between;
  padding-left:22px;
  padding-right:22px;
}

.logos{

  color:grey;

}

fa-icon{
  padding:10px;
  cursor:pointer;

}
